#wrapper {

}

.container {

}
 
.jumbotron {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Viaoda Libre', cursive;
}

.timeRemaining {

}

.questionHeader {

}

.answers {

}

