#wrapper {

}

.container {

}
 
.jumbotron {
    margin: auto;
    padding: 10px;
    text-align: center;
    font-family: 'Viaoda Libre', cursive;
    background-color: rgba(245, 245, 220, 0);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 300;
    color: crimson;
    
    
}

.timeRemaining {

}

.questionHeader {

}

.answers {

}
body {
    background-image: url(../images/baby.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

